@use "./variables" as *;
// fonts
h1,
h2,
h4,
p {
  font-family: $primary-font;
}

h1,
h2 {
  color: $primary-color-navy;
  font-size: $text-h2;
  font-weight: 600;
}

h3 {
  font-family: $secondary-font;
  color: $secondary-color-slate;
}

h4 {
  font-weight: 600;
  color: $color-aqua;
}

p {
  font-weight: 400;
  color: $secondary-color-slate;
  text-align: justify;
  text-justify: newspaper;
  line-height: 1.5;
}
