@use "./variables" as *;

@use "./mixins" as *;

.hero {
  @include mobile;
  border: 1px solid purple;
  background-color: #f7fafa;

  &__title {
    display: flex;
    flex-direction: column;
    width: 60vw;
    align-items: flex-start;
    padding: 7.6875em 0 3em 0.9em;

    &--name {
      font-weight: 500;
      font-size: 1.25rem;
      color: $secondary-color-slate;
    }

    &--heading {
      font-weight: 600;
      font-size: 4rem;
      padding: 0.5em 0 1em;
    }
  }

  &__button {
    width: 70%;
  }
}
