// PROJECTS SECTION
@use "./mixins" as *;
@use "./variables" as *;

.projects {
  @include mobile;
  border: 1px solid purple;

  &__heading {
    @include center-heading;

    font-size: $font-h2;

    &--bigger {
      font-size: $font-h2-bigger;
      @include h2-margin-top;
    }
  }

  &__sub-heading {
    margin-top: 2.375rem;
  }

  &__client-project--image {
    margin-top: 5.5em;
    background-color: $color-pale-aqua;
    padding-top: 5em;
    display: flex;
    justify-content: center;
  }

  &__code {
    display: flex;

    &--block {
      display: flex;
      align-items: center;
      column-gap: 0.5em;
    }
  }
}
