// PROJECTS SECTION
@use "./mixins" as *;
@use "./variables" as *;

.projects {
  @include mobile;

  &__heading {
    @include center-heading;

    &--bigger {
      font-size: $font-h2-bigger;
      @include h2-margin;
    }
  }

  &__sub-heading {
    margin-top: 2.375rem;
  }

  &__client-project {
    margin-top: 5.5em;
    background-color: $color-pale-aqua;
    padding-top: 5em;
    display: flex;
    justify-content: center;
  }

  &__client-project--image {
    width: 80%;
  }

  &__details {
    margin-top: 2.375rem;
  }

  &__code {
    display: flex;

    &--block {
      display: flex;
      align-items: center;
      column-gap: 0.5em;

      margin-top: 1.875rem;
    }

    &--text {
      font-size: $font-code;
      color: $primary-color-navy;
      font-weight: 600;
    }
  }

  &__placeholder-image {
    @include placeholder-img;
  }
}
