// FONTS
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&family=Inter:wght@400;500;600;700&display=swap");

$primary-font: "Inter", sans-serif;
$secondary-font: "DM Sans", sans-serif;
$primary-color-navy: #272643;
$secondary-color-slate: slategrey;
$color-aqua: #bae8e8;
$color-pale-aqua: #e3f6f5;
$font-h1: 4rem;
$font-h2: 2rem;
$font-h2-bigger: 2.125rem;
$font-h2-about: 3rem;
