// FONTS
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&family=Inter:wght@400;500;600;700&display=swap");

$primary-font: "Inter", sans-serif;
$secondary-font: "DM Sans", sans-serif;
$primary-color-navy: #272643;
$secondary-color-slate: #8c9cb1;
$hero-bg-color: #f7fafa;
$color-white: white;
$color-aqua: #bae8e8;
$color-pale-aqua: #e3f6f5;
$color-header-name: #170f49;
$text-h1: 3.5rem;
$text-h2: 2rem;
$text-h2-bigger: 2.125rem;
$text-h2-about: 3rem;
$text-code: 0.875rem;
$text-email: 1.125rem;
