.header {
  border: 1px solid blue;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo-name {
    display: flex;
    align-items: center;
    column-gap: 0.5em;
  }
}
