@use "./variables" as *;
@use "./fonts" as *;
@use "./header" as *;
@use "./hero" as *;

@media screen and (max-width: 768px) {
  body {
    width: 90%;
    background-color: white;
    border: 1px solid green;
  }
}
